<md-sidenav-container>
    <md-toolbar color="warn">
        <md-icon class="hand-cursor" (click)="sidenav.open()">reorder</md-icon>
        <span>Hermosillo mapa de calor</span>
    </md-toolbar>
    <md-sidenav #sidenav>
        <md-toolbar color="warn">
            <span>Menú</span>
            <span class="fill-remaining-space"></span>
            <md-icon class="hand-cursor" (click)="sidenav.close()">clear</md-icon>
        </md-toolbar>
        <md-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading"></md-progress-bar>
        <div class="margin-left">
            <h2>Busqueda</h2>
            <div class="flex-inline">
                <div>
                    <h5>Fecha inicial</h5>
                    <div class="flex-inline">
                        <md-input-container>
                            <input mdInput placeholder="Fecha" type="date" [(ngModel)]="initDate" #idInitDate="ngModel" [max]="maxDate" required>
                            <div *ngIf="idInitDate.invalid && (idInitDate.dirty || idInitDate.touched)" class="error-input">
                                <div *ngIf="idInitDate.errors.required">
                                    Campo Obligatorio
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="margin-left">
                            <input mdInput placeholder="Hora" type="time" [(ngModel)]="initTime" #idInitTime="ngModel" required>
                            <div *ngIf="idInitTime.invalid && (idInitTime.dirty || idInitTime.touched)" class="error-input">
                                <div *ngIf="idInitTime.errors.required">
                                    Campo Obligatorio
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div class="margin-left">
                    <h5>Fecha final</h5>
                    <div class="flex-inline">
                        <md-input-container>
                            <input mdInput placeholder="Fecha" type="date" [(ngModel)]="endDate" [max]="maxDate" #idEndDate="ngModel" required>
                            <div *ngIf="idEndDate.invalid && (idEndDate.dirty || idEndDate.touched)" class="error-input">
                                <div *ngIf="idEndDate.errors.required">
                                    Campo Obligatorio
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="margin-left">
                            <input mdInput placeholder="Hora" type="time" [(ngModel)]="endTime" #idEndTime="ngModel" required>
                            <div *ngIf="idEndTime.invalid && (idEndTime.dirty || idEndTime.touched)" class="error-input">
                                <div *ngIf="idEndTime.errors.required">
                                    Campo Obligatorio
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="margin-left">
            <h5>Comandancia</h5>
            <div>
                <md-select placeholder="Colonia" [(ngModel)]="coloniaComandanciaSelected" style="width: 45%;">
                    <md-option>Todas</md-option>
                    <md-option *ngFor="let colonia of coloniasComandancia" [value]="colonia.id">
                        <span>{{ colonia.colonia }}</span>
                    </md-option>
                </md-select>
                <md-select placeholder="Delito" [(ngModel)]="tipoEventoComandanciaSelected" class="margin-left" style="width: 50%;">
                    <md-option>Todos</md-option>
                    <md-option *ngFor="let tipoEvento of tipoEventoComandancia" [value]="tipoEvento.id">
                        <span mdTooltip={{tipoEvento.tipoEvento}} mdTooltipPosition="left">{{tipoEvento.id}} - {{ tipoEvento.tipoEvento }}</span>
                    </md-option>
                </md-select>
            </div>
            <br>
            <br>
            <h5>Iph</h5>
            <div>
                <md-select placeholder="Colonia" [(ngModel)]="coloniaIphSelected" style="width: 45%;">
                    <md-option>Todas</md-option>
                    <md-option *ngFor="let colonia of coloniasIph" [value]="colonia.id">
                        <span>{{ colonia.colonia }}</span>
                    </md-option>
                </md-select>
                <md-select placeholder="Delito" [(ngModel)]="tipoEventoIphSelected" class="margin-left" style="width: 50%;">
                    <md-option>Todos</md-option>
                    <md-option *ngFor="let tipoEvento of tipoEventoIph" [value]="tipoEvento.id">
                        <span mdTooltip={{tipoEvento.tipoEvento}} mdTooltipPosition="left">{{tipoEvento.id}} - {{ tipoEvento.tipoEvento }}</span>
                    </md-option>
                </md-select>
            </div>
        </div>
        <br>
        <br>
        <button md-raised-button color="warn" (click)="sendRequest();" style="width: 100%;" 
            [disabled]="idEndTime.invalid || idEndDate.invalid || idInitDate.invalid || idInitTime.invalid">Consultar</button>
    </md-sidenav>
    <router-outlet></router-outlet>
</md-sidenav-container>